@model Сontinuer.Models.СontinuerModel

<div class="jumbotron">
    @if (Model.IsCalcStarted)
    {
        <h1>Сontinuer</h1>
        <p class="lead">Запущены процессы расчёта</p>
    }
    else
    {
        <h1>Сontinuer</h1>
        <p class="lead">Запуск расчётов осуществляется через приложение Starter.</p>
    }
</div>

<!--TODO: Добавить отображение вычисления, хотя бы после остановки-->
<div class="row">
    @if (!Model.IsCalcStarted)
    {

    }
</div>
